html,body{
  height:100%;
}

#rRightDown,#rLeftDown,#rLeftUp,#rRightUp,#rRight,#rLeft,#rUp,#rDown{ 
  position:absolute;
  background:#1f9eed;
  width:6px;
  height:6px;
  z-index:5;
  font-size:0;
} 

#ss{
  height:100px; 
  width:100px; 
  border:1px dashed #333; 
  position:absolute;
  left:200px; 
  top:200px;
}

#rLeftDown,#rRightUp{cursor:ne-resize;} 
#rRightDown,#rLeftUp{cursor:nw-resize;} 
#rRight,#rLeft{cursor:e-resize;} 
#rUp,#rDown{cursor:n-resize;} 
#rRightDown{ bottom:-3px; right:-3px;} 
#rLeftDown{ bottom:-3px; left:-3px;} 
#rRightUp{ top:-3px; right:-3px;} 
#rLeftUp{ top:-3px; left:-3px;} 
#rRight{ right:-3px; top:50%} 
#rLeft{ left:-3px; top:50%} 
#rUp{ top:-3px; left:50%} 
#rDown{ bottom:-3px; left:50%} 

.btn{
  display:inline-block;
  width:100px;
  height:40px;
  line-height:40px;
  background: lightblue;
  text-align: center;
  margin-top: 20px;
  cursor:pointer;
}
